/* test attributes */
article {
    width: 90%;
    height: 700px;
    
}
main {
    margin: 25px;
    justify-content: center;
    position: absolute;
    left: 30%;
    width: 40%;
}
/*.main-content {
    text-align: right;
}*/

.timeRecord {
    justify-content: right;
    text-align: right;
}



/* Styles that are going to be used*/
.btn-primary{
    background-color: purple;
    border-style: none;
}
button {
    background-color: purple;
    border-style: none;
    color: white;
    display: block;
    margin-top: 15px;   
}
.invisible {
    display: none;
}
